---
import BaseSection from "./BaseSection.astro";
import MySnsLinkIcon from "../../ui/MySnsLinkIcon.astro";
---

<BaseSection title="Monberableとは" titleEng="ABOUT" bgColor="">
  <div class="col-span-4 md:col-span-8 lg:col-span-12">
    <p class="text-center">「Monberable」は、毛糸を使ったハンドメイド関連の発信しています。</p>
  </div>
  <div class="col-span-4 md:col-span-8 lg:col-span-12 mx-auto mt-4">
    <MySnsLinkIcon snsName={"instagram"} />
  </div>
</BaseSection>
