---
---
<a
  href="#"
  class="
    flex
    justify-center
    items-center
    p-2
    rounded-full
    duration-500
    bg-gray-50
    active:bg-black/10
    hover:opacity-50
  "
>
  <img src="/sns-icon/Instagram_Glyph_Black.png" alt="logo_instagram"
    class="
      size-7.25
    "
  >
</a>
