---
import { baseUrl } from "../../constants/constant-common"
---
<a
	href=`/${baseUrl}/`
	ontouchstart=""
	class="
		active:bg-black/10
		hover:opacity-50
		md:rounded-none
		md:shadow-none
		md:duration-500
	"
	>
		<img
			src=`/${baseUrl}logo.svg`
			alt="logo_monberable"
			class="
			h-11
			md:h-12
			lg:h-13
			"
			>
</a>